.about-container {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.about-link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin: 0 15px;
    padding: 5px 10px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease-in-out;
}

.about-link:hover {
    border-bottom: 2px solid white;
}
